body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

/*header*/
.header {
  background: #ffffff;
}
/*navigation properties*/
.nav-list a {
  list-style-type: none;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-list a:hover {
  color: #404bbf;
}

.nav-list a:focus {
  color: #404bbf;
}

.link {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-decoration: none;
  letter-spacing: normal;
}
/*logotipe properties*/
.logo {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo:hover {
  color: #404bbf;
}

.logo:focus {
  color: #404bbf;
}

.logo-web {
  color: #2e2f42;
}

.address .link {
  color: #434455;
  letter-spacing: 0.02em;
}

.address .link:hover {
  color: #404bbf;
}

.address .link:focus {
  color: #404bbf;
}

.hero-section {
  background-color: #2e2f42;
}

.hero-title {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: Center;
}
.button {
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

.advantages-title {
  display: none;
}

.advantages-section,
.list-li {
  background-color: #ffffff;
}
.our-team {
  background-color: #f4f4fd;
}

.our-team-title,
.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: center;
  font-family: Roboto, sans-serif;
}

.our-team .title-li,
.our-team .text {
  text-align: center;
}

.title-li {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
  font-family: Roboto, sans-serif;
}
.footer {
  background-color: #2e2f42;
}
.footer .text {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.footer .logo-web {
  color: #f4f4fd;
}

.footer .text {
  color: #f4f4fd;
}
.nav-list a,
.link,
.button,
.title-li {
  font-weight: 500;
}
